{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">

    </div>

    <div class="col-md-4">
        <form method="POST" action="{{ url_for('checklist') }}" class="content-section">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <h1 class="display-5  .colorh2 ">Initial Information</h1>
                <div class="form-group  needs-validation" novalidate>
                    {{form.sales_force_id.label(class="form-control-label", for="validationCustom01")}}
                    {{form.sales_force_id(class="form-control form-control-md validated " , id='validationcustome01')}}
                    <div class="invalid-feedback">
                        COMPLETE THIS FIELD!!!
                    </div>
                </div>


                <div class="form-group  needs-validation" novalidate>
                    {{form.purchase_order.label(class="form-control-label", for="validationCustom01")}}
                    {{form.purchase_order(class="form-control form-control-md validated " , id='validationcustome01')}}

                </div>
                <div class="form-group  needs-validation" novalidate>
                    {{form.quote_direct.label(class="form-control-label", for="validationCustom01")}}
                    {{form.quote_direct(class="form-control form-control-md validated " , id='validationcustome01')}}

                </div>
                <hr>

                <small><strong>DOES IT INCLUDE SOFTWARE OR VENDOR?</strong></small>
                <hr>
                <div class=" checkbox text-left">
                    <label class="mr-2 col-md-6">
                        <div class="form-check">
                            {{ form.sw_include(class="form-check-input") }}
                            <p><strong>{{form.sw_include.label}}</strong></p>

                        </div>

                        <div class=" checkbox text-left" , id="check">
                            <label class="mr-2">
                                <div class="form-check">
                                    {{ form.other_vendor_include(class="form-check-input") }}
                                    <p><strong>{{form.other_vendor_include.label}}</strong></p>

                                </div>

                        </div>
                        <div class=" checkbox text-left" , id="check">
                            <label class="mr-2">
                                <div class="form-check">
                                    {{ form.cisco_include(class="form-check-input")}}
                                    <p><strong>{{form.cisco_include.label}}</strong></p>

                                </div>

                        </div>

           
                </div>

            </fieldset>

       
            <div class="form-group">
                {{ form.submit(class="btn btn-md btn-primary btn-block") }}
            </div>


     
{% endblock content %}